<div class="container col-md-11">
    <form>
        <table class="mx-auto col-md-12" border="1px" cellspacing="0px" cellpadding="10px">
            <tr>
                <th class="col-md-2">Name of product</th>
                <th class="col-md-1">Price</th>
                <th class="col-md-2">Category</th>
                <th>Description</th>
                <th>Images</th>
            </tr>
            <tr>
                <th>1</th>
            </tr>
            <tr>
                <th>2</th>
            </tr>
            <tr>
                <th>3</th>
            </tr>
            
        </table>
    </form>
</div>